<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tokyo Olympic Medals</title>

        <link rel="stylesheet" href="/static/css/style.css">
    </head>

    <body>
        <div id ="main">
            <div id = "leftDiv">
                <h id="header">Olympic Medal Counts</h>
            </div>

            <div id="centerDiv">
                <h id="header">Ratio of Medals Count to Number of Athletes</h>
            </div>
            
            <div id = "rightDiv">
            </div>
            
        </div>
        <div class="tooltip" style="opacity:0;"></div>

        <script type="module" src="/static/js/script.js"></script>
        
    </body>
</html>